{% extends "base.html" %}
{% load static %}

{% block subtitle %} - Animaux{% endblock %}

{% block content %}
    <section class="animals" aria-labelledby="animals-title">
        <header class="animals__header">
            <h1 id="animals-title">Animaux</h1>
        </header>

        <ul class="animals__list" role="list">
            {% for animal in animals %}
                <li class="animals__card">
                    <a class="animals__cardLink" href="{% url 'animal_detail' animal.id %}">
                        <figure class="animals__figure" aria-labelledby="animal-name-{{ forloop.counter }}">
                            <div class="animals__photoWrap">
                                {% if animal.presentation_image %}
                                    <img class="animals__photo" src="{{ animal.presentation_image.url }}"
                                         alt="Photo de {{ animal.name }}" loading="lazy" decoding="async"/>
                                {% else %}
                                    <img class="animals__photo" src="{% static 'images/avatar_placeholder.svg' %}"
                                         alt="Photo de {{ animal.name }}" loading="lazy" decoding="async"/>
                                {% endif %}
                            </div>
                            <figcaption class="animals__caption">
                                <h3 class="animals__name" id="animal-name-{{ forloop.counter }}">{{ animal.name }}</h3>
                            </figcaption>
                        </figure>

                    </a>
                </li>
            {% empty %}
                <li class="animals__empty">Aucun animal pour le moment.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
