<div class="media_form__element span-full">
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div class="media_form__data">
        <strong>Informations:</strong>
        <div class="media_form__row">
            <label class="media_form__label" for="{{ form.file.id_for_label }}">Fichier</label>
            <div class="media_form__input">
            {{ form.file }}
            </div>
        </div>

        <div class="media_form__row">
            <label class="media_form__label" for="{{ form.url.id_for_label }}">URL</label>
            <div class="media_form__input">
                {{ form.url }}
                <p class="form__help">Image/vidéo distante ou URL YouTube. Laissez vide si vous uploadez un fichier.</p>
            </div>
        </div>

        <div class="media_form__row">
            <label class="media_form__label" for="{{ form.caption.id_for_label }}">Légende</label>
            <div class="media_form__input">
                {{ form.caption }}
            </div>
        </div>

        <div class="media_form__row">
            <label class="media_form__label" for="{{ form.position.id_for_label }}">Ordre</label>
            <div class="media_form__input">
                {{ form.position }}
            </div>
        </div>

        {% if form.DELETE %}
        <a class="btn btn--danger" onclick="document.getElementById('{{ form.DELETE.id_for_label }}').checked=true;this.closest('.media_form__element').style.display='none';">Supprimer</a>
        <div class="media_form__delete">
            {{ form.DELETE }}
        </div>
        {% endif %}
    </div>

    <div class="media_form__preview">
        <strong>Prévisualisation:</strong>
        <br/>
        {% if form.instance.file %}
            <img style="max-height:150px" src="{{ form.instance.file.url }}"/>
        {% endif %}
    </div>

    <div class="fieldWrapper">
        {% for field in form.visible_fields %}
        {% if field.errors %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% endif %}
        {% endfor %}
    </div>
</div>