<form method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
    <table>
        <tr>
            <td>{{ form.first_name.label_tag }}</td>
            <td>{{ form.first_name }}</td>
        </tr>
        <tr>
            <td>{{ form.last_name.label_tag }}</td>
            <td>{{ form.last_name }}</td>
        </tr>
        <tr>
            <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td>
        </tr>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password1.label_tag }}</td>
            <td>{{ form.password1 }}</td>
            <td>{{ form.password1.help_text }}</td>
        </tr>
        <tr>
            <td>{{ form.password2.label_tag }}</td>
            <td>{{ form.password2 }}</td>
            <td>{{ form.password2.help_text }}</td>
        </tr>
    </table>

    <input type="submit" value="Confirmer">
    <input type="hidden" name="next" value="{{ next }}">
</form>