{% extends "base.html" %}

{% block subtitle %} - Médiation animale{% endblock %}

{% block content %}
<h1>Médiation animale</h1>

La médiation animale, qu'est-ce que c'est ?

Aujourd'hui, le terme de médiation animale est plus largement utilisé pour désigner l'ensemble des pratiques visant à améliorer la qualité de vie des personnes accompagnées grâce à la présence et à l'interaction avec un animal.

Parmi ces pratiques, la plus ancienne et encore la plus connue à ce jour est la zoothérapie (du grec <i>zoo</i>=animal et <i>therapeia</i>=soin), dont le père fondateur est Boris Levinson, qui, en 1964, parvient pour la première fois à établir une communication avec un enfant atteinte d'autisme par le biais de son chien.

La zooanimation, l'art-zoothérapie, la lecture assistée par l'animal (LAC), la zoopédagogie, sont d'autres exemples des sous-ensembles de la médiation animale

La médiation animale s'adresse ainsi à des publics variés :
<ul>
    <li>Petite enfance</li>
    <li>Enfants présentant des troubles neuro-développementaux ou de l'anxiété sociale</li>
    <li>Jeunes en inadaptation sociale</li>
    <li>Enfants et adultes en situation de fragilité et/ou d'isolement</li>
    <li>Personnes âgées</li>
</ul>

L'animal est un facilitateur social. Il permet d'améliorer les échanger avec les intervenants et les professionnels de santé, ainsi qu'entre les personnes elles-mêmes.

Les animaux sont des êtres spontanés, non-jugeants, qui utilisent des canaux de communication variés : visual, olfactif, sonote et tactile.

On parle de relation triadique. C'est un concept introduit par Véronique Servais, qui repose sur la création progressive de liens et l'établissement d'une communication multicanale entre trois acteurs essentiens : la personne bénéficiaire, l'animal et l'intervenant.

En fonction de la pratique, les objectifs de la médiation animale vont être multiples :
<ul>
    <li>Divertir</li>
    <li>Détendre</li>
    <li>Réduire l'isolement et créer du lien</li>
    <li>Développer la confiance en soi</li>
    <li>Responsabiliser</li>
    <li>Réduire le stress</li>
    <li>Stimuler sensoriellement, émotionnellement et psychologiquement</li>
    <li>Travailler la mobilité et la motricité fine</li>
</ul>

<h2>Redonner le sourire, une patte après l'autre</h2>
C'est ça l'objectif de la médiation animale et de l'association Les Sourires d'Hindi

Vous avez des questions ? Vous voulez en savoir plus ? Ou vous souhaitez nous soutenir ? Contactez-nous !

{% endblock %}